

.container_uno{
    display: flex;
    /* background-color: #a200ff; */
    flex-direction: row;
    align-items: center;
    margin: 10px 10px;
    div{
        .caja_celular{
            margin: 50px 50px;
            width: auto;
            height: auto;
            position: relative;
            animation-name: float;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            img{
                width: 500px;
            }
        }
    }
    p{
        margin: 20px;
        padding: 50px;
    }
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
    }
